 
<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">

    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <h1><%= link_to place.address, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />

    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <%= place.comments.last.description %>
          <small><%= place.comments.last.user_name %></small>
        </blockquote>
      </div>
    <% end %>

  </div>

<% end %>
